.root {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 0;
	width: 100vw;
}

.loginContainer {
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 2rem 0.5rem rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4rem 0;
	width: 20rem;
	height: 12rem;
}

.loginLogoContainer {
	align-items: center;
	background-color: #fff;
	border-radius: 2.75rem;
	box-shadow: 0px 0px 1rem 0.5rem rgba(133, 201, 151, 0.5);
	display: flex;
	justify-content: center;
	height: 5.5rem;
	width: 5.5rem;
}

.loginLogo {
	height: 4rem;
	width: 4rem;
}

.loginPswdInput {
	position: absolute;
	opacity: 0;
	width: 20rem;
	height: 12rem;
}

.loginPswdCellContainer {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 15rem;
}

.loginPswdCell {
	align-items: center;
	background-color: #fff;
	border-radius: 0.175rem;
	box-shadow: 0px 0px 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 2.25rem;
}

.loginPswdStar {
	color: #30693f;
	height: 1rem;
	margin: 0.25rem 0;
}

.loginBar {
	border-radius: 0.175rem;
	height: 0.35rem;
	width: 1.5rem;
	background-color: #85c997;
}

.inputRow {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	width: 40rem;
}

.searchBar {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 1rem;
	box-shadow: 0px 0px 1rem 0.5rem rgba(133, 201, 151, 0.2);
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	height: 3rem;
	width: 34rem;
}

.searchInput {
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 1.25rem;
	height: 1.5rem;
	width: 33rem;
}

.iconImg {
	width: 1.5rem;
}

.addRecipeButton {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 1rem;
	box-shadow: 0px 0px 1rem 0.5rem rgba(133, 201, 151, 0.2);
	display: flex;
	justify-content: center;
	height: 3rem;
	width: 3rem;
}

.addButtonPressed {
	background-color: rgba(20, 20, 20, 0.1);
}

.addRecipeRoot {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	min-height: 13rem;
	padding: 1rem 2rem;
	width: 36rem;
}

.addTextSide {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 3rem;
	width: 13rem;
}

.dishNameInput {
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 1.25rem;
	height: 1.5rem;
	margin-bottom: 1rem;
	width: 13rem;
}

.ingredientInput {
	background-color: transparent;
	border: 0;
	outline: 0;
	font-size: 1rem;
	height: 1.2rem;
	width: 8rem;
}

.addImageSide {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 13rem;
	width: 16rem;
}

.imagePreview {
	width: 10rem;
}

.uploadButton {
	color: transparent;
	outline: 0;
	width: 10rem;
}
.uploadButton::-webkit-file-upload-button {
	visibility: hidden;
}

.uploadButton::before {
	align-items: center;
	background-color: #85c997;
	border-radius: 0.5rem;
	color: white;
	content: 'UPLOAD';
	display: flex;
	justify-content: center;
	height: 2rem;
	width: 10rem;
}

.recipes {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	width: 40rem;
}

.list {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.cardRoot {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 1rem 0.5rem rgba(133, 201, 151, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	width: 19.5rem;
}

.cardSelected {
	box-shadow: 0px 0px 1rem 0.5rem rgba(237, 210, 111, 0.8);
}

.cardName {
	font-weight: bold;
	width: 18rem;
}

.ingredients {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	width: 17rem;
}

.ingredientList {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.ingredientItem {
	align-items: center;
	display: flex;
	height: 1.5rem;
	justify-content: space-between;
	width: 7.5rem;
}

.ingredientDot {
	background-color: #85c997;
	border-radius: 0.15rem;
	height: 0.3rem;
	width: 0.3rem;
}

.ingredientName {
	height: 1rem;
	width: 7rem;
}
